<h1> <%= @dog.name %> Information </h1>
<p>Name: <%= @dog.name %> </p>
<p>Breed: <%= @dog.breed %> </p>
<p>Age: <%= @dog.age %> </p><br>
<p>Employees:</p>
<% @employees.each do |e| %>
<p><%= e.to_s %></p>
<% end %>

<%=  %>
